aliases:
 - &filter-only-source
   branches:
     only:
       - source

version: 2
jobs:
  deploy-website:
    docker:
      # specify the version you desire here
      - image: circleci/node:10.15.2

    steps:
      - add_ssh_keys:
          fingerprints:
            - "db:18:fc:b1:b6:20:68:47:61:df:13:d7:c6:24:12:1e"
      - checkout
      - run:
          name: Deploying to GitHub Pages
          command: |
            git config --global user.email "devhub-deploy@users.noreply.github.com"
            git config --global user.name "Devhub Deployer"
            # install Docusaurus and generate file of English strings
            cd website && yarn install && yarn run write-translations && cd ..
            # crowdin install
            sudo apt-get install default-jre
            wget https://artifacts.crowdin.com/repo/deb/crowdin.deb -O crowdin.deb
            sudo dpkg -i crowdin.deb
            # translations upload/download
            crowdin --config crowdin.yaml upload sources --auto-update -b master
            crowdin --config crowdin.yaml download -b master
            # build and publish website
            cd website && USE_SSH=true GIT_USER=git yarn run publish-gh-pages

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - deploy-website:
          filters: *filter-only-source
