/* your custom css */

.fixedHeaderContainer {
    background: $secondaryColor;
}

.heroImage {
    background-image: url("/docs/img/bg-dark-1.png"); /* The image used */
    background-color: $secondaryColor; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.primary-color {
    background-color: $primaryColor;
    border-color: $primaryColor;
}

.primary-color-text {
    color: $primaryColor!important;
}

.projectTitle {
    font-weight: 300;
    color: #ffffff;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}