.docMainWrapper h1,
.docMainWrapper h2,
.docMainWrapper h3,
.docMainWrapper h4,
.docMainWrapper h5,
.docMainWrapper h6 {
  color: inherit;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 1.5em;
}

.docMainWrapper h1 {
    font-size: 32px;
  }
  
  .docMainWrapper h2 {
    font-size: 24px;
  }
  
  .docMainWrapper h3 {
    font-size: 20px;
  }
  
  .docMainWrapper h4 {
    font-size: 16px;
  }
  
  .docMainWrapper h5 {
    font-size: 14px;
  }
  
  .docMainWrapper h6 {
    font-size: 13.6px;
  }

  .docMainWrapper .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  