/*
Font: 		/Manifold CF
Style: 		Bold
URL: 		https://www.youworkforthem.com/font/T5335//manifold-cf
Foundry: 	Connary Fagen
Foundry: 	https://www.youworkforthem.com/designer/479/connary-fagen
Copyright:	Copyright © 2014 by Connary Fagen. All rights reserved.
Version: 	17
Created:	July 30, 2015
License: 	https://www.youworkforthem.com/font-license
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted
			from using the WebFonts(s) listed without a purchased license.
			All details above must always remain unaltered and visible in your CSS.
*/
@font-face {
  font-family: 'ManifoldCF';
  src: url('/fonts/manifold-cf-bold.eot');
  src: url('/fonts/manifold-cf-bold.eot?#iefix') format('embedded-opentype'), url('/fonts/manifold-cf-bold.woff2') format('woff2'), url('/fonts/manifold-cf-bold.woff') format('woff'), url('/fonts/manifold-cf-bold.ttf') format('truetype'), url('/fonts/manifold-cf-bold.svg#youworkforthem') format('svg');
  font-weight: bold;
  /*700*/
  font-style: normal;
}
/*
Font: 		Manifold CF
Style: 		Demi Bold
URL: 		https://www.youworkforthem.com/font/T5335/manifold-cf
Foundry: 	Connary Fagen
Foundry: 	https://www.youworkforthem.com/designer/479/connary-fagen
Copyright:	Copyright © 2014 by Connary Fagen. All rights reserved.
Version: 	17
Created:	July 30, 2015
License: 	https://www.youworkforthem.com/font-license
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
            WebFont license rules. All other parties are strictly restricted
            from using the WebFonts(s) listed without a purchased license.
            All details above must always remain unaltered and visible in your CSS.
*/
@font-face {
  font-family: 'ManifoldCF';
  src: url('/fonts/manifold-cf-demi-bold.eot');
  src: url('/fonts/manifold-cf-demi-bold.eot?#iefix') format('embedded-opentype'), url('/fonts/manifold-cf-demi-bold.woff2') format('woff2'), url('/fonts/manifold-cf-demi-bold.woff') format('woff'), url('/fonts/manifold-cf-demi-bold.ttf') format('truetype'), url('/fonts/manifold-cf-demi-bold.svg#youworkforthem') format('svg');
  font-weight: 600;
  font-style: normal;
}
/*
Font: 		/Manifold CF
Style: 		Extra Bold
URL: 		https://www.youworkforthem.com/font/T5335//manifold-cf
Foundry: 	Connary Fagen
Foundry: 	https://www.youworkforthem.com/designer/479/connary-fagen
Copyright:	Copyright © 2014 by Connary Fagen. All rights reserved.
Version: 	17
Created:	July 30, 2015
License: 	https://www.youworkforthem.com/font-license
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
            WebFont license rules. All other parties are strictly restricted
            from using the WebFonts(s) listed without a purchased license.
            All details above must always remain unaltered and visible in your CSS.
*/
@font-face {
  font-family: 'ManifoldCF';
  src: url('/fonts/manifold-cf-extra-bold.eot');
  src: url('/fonts/manifold-cf-extra-bold.eot?#iefix') format('embedded-opentype'), url('/fonts/manifold-cf-extra-bold.woff2') format('woff2'), url('/fonts/manifold-cf-extra-bold.woff') format('woff'), url('/fonts/manifold-cf-extra-bold.ttf') format('truetype'), url('/fonts/manifold-cf-extra-bold.svg#youworkforthem') format('svg');
  font-weight: 800;
  font-style: normal;
}
/*
Font: 		/Manifold CF
Style: 		Light
URL: 		https://www.youworkforthem.com/font/T5335//manifold-cf
Foundry: 	Connary Fagen
Foundry: 	https://www.youworkforthem.com/designer/479/connary-fagen
Copyright:	Copyright © 2014 by Connary Fagen. All rights reserved.
Version: 	17
Created:	July 30, 2015
License: 	https://www.youworkforthem.com/font-license
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
            WebFont license rules. All other parties are strictly restricted
            from using the WebFonts(s) listed without a purchased license.
            All details above must always remain unaltered and visible in your CSS.
*/
@font-face {
  font-family: 'ManifoldCF';
  src: url('/fonts/manifold-cf-light.eot');
  src: url('/fonts/manifold-cf-light.eot?#iefix') format('embedded-opentype'), url('/fonts/manifold-cf-light.woff2') format('woff2'), url('/fonts/manifold-cf-light.woff') format('woff'), url('/fonts/manifold-cf-light.ttf') format('truetype'), url('/fonts/manifold-cf-light.svg#youworkforthem') format('svg');
  font-weight: 200;
  font-style: normal;
}
/*
Font: 		Manifold CF
Style: 		Regular
URL: 		https://www.youworkforthem.com/font/T5335/manifold-cf
Foundry: 	Connary Fagen
Foundry: 	https://www.youworkforthem.com/designer/479/connary-fagen
Copyright:	Copyright © 2014 by Connary Fagen. All rights reserved.
Version: 	17
Created:	July 30, 2015
License: 	https://www.youworkforthem.com/font-license
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
            WebFont license rules. All other parties are strictly restricted
            from using the WebFonts(s) listed without a purchased license.
            All details above must always remain unaltered and visible in your CSS.
*/
@font-face {
  font-family: 'ManifoldCF';
  src: url('/fonts/manifold-cf.eot');
  src: url('/fonts/manifold-cf.eot?#iefix') format('embedded-opentype'), url('/fonts/manifold-cf.woff2') format('woff2'), url('/fonts/manifold-cf.woff') format('woff'), url('/fonts/manifold-cf.ttf') format('truetype'), url('/fonts/manifold-cf.svg#youworkforthem') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.eot');
  src: url('/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/Roboto-Bold.woff2') format('woff2'), url('/fonts/Roboto-Bold.woff') format('woff'), url('/fonts/Roboto-Bold.ttf') format('truetype'), url('/fonts/Roboto-Bold.svg#RobotoBold') format('svg');
  font-weight: bold;
  /*700*/
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Light.eot');
  src: url('/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/Roboto-Light.woff2') format('woff2'), url('/fonts/Roboto-Light.woff') format('woff'), url('/fonts/Roboto-Light.ttf') format('truetype'), url('/fonts/Roboto-Light.svg#RobotoLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-Light.eot');
  src: url('/fonts/RobotoMono-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/RobotoMono-Light.woff2') format('woff2'), url('/fonts/RobotoMono-Light.woff') format('woff'), url('/fonts/RobotoMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-Regular.eot');
  src: url('/fonts/RobotoMono-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/RobotoMono-Regular.woff2') format('woff2'), url('/fonts/RobotoMono-Regular.woff') format('woff'), url('/fonts/RobotoMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-Bold.eot');
  src: url('/fonts/RobotoMono-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/RobotoMono-Bold.woff2') format('woff2'), url('/fonts/RobotoMono-Bold.woff') format('woff'), url('/fonts/RobotoMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


body {
  font-family: 'Roboto','Helvetica','Arial', sans-serif;
  line-height: 1.4;
}
h1, .h1 {
  font-family: 'Roboto','Helvetica','Arial', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
}
body.separateOnPageNav h2:not(.headerTitleWithLogo), body.separateOnPageNav .h2 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}
h3, h4,
.h3, .h4 {
  font-weight: 700;
  letter-spacing: 0.01em;
}
h2, .h2, h3, h4, h5, h6,
.h3, .h4, .h5, .h6,
.docs-prevnext .button span {
  font-family: 'ManifoldCF','Helvetica','Arial', sans-serif;
}
h5, h6, .h5, .h6 {
  font-weight: 600;
}
code[class*='language-'], pre[class*='language-'] {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

.onPageNav a {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  color: #393939;
  transition: font-weight 0.1s;
}
.onPageNav a:hover, .onPageNav .toc-headings > li > a.active {
  color: black;
  font-weight: 700;
}
.menu > li {
  font-family: 'ManifoldCF','Helvetica','Arial', sans-serif;
}
.btn, .btn__text,button {
  font-family: 'ManifoldCF','Helvetica','Arial', sans-serif;
}
.docs-prevnext .button span {
  font-size: 1.2rem;
  font-weight: 700;
}
