:root {
	--primary-color: #ff1864;
	--dark: #24292e;
	--grey: #5a6268;
	--font-size-p: 16px;
}

#home-hero .section,
#home-hero section {
	float: left;
	width: 100%;
	display: block;
	clear: both;
}

#home-hero .homeSplashFade {
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 40px;
	padding-bottom: 20px;
}

#home-hero .homeWrapper {
	height: 48vh;
	min-height: 480px;
	display: flex;
}

#home-hero .homeWrapper .inner {
	margin: auto;
}

#home-hero .homeWrapper .container {
	max-width: 800px;
}

#home-hero .homeWrapper .container .projectTitle {
	font-size: 48px;
	margin-bottom: 20px;
	font-weight: bold;
	color: var(--primary-color) !important;
}

#home-hero .homeWrapper .container .lead.text-muted {
	font-size: 6vw;
	line-height: 1.2;
	margin-bottom: 20px;
	font-weight: normal;
	color: white !important;
}

#home-hero .homeWrapper .container .description {
	color: white;
	margin-bottom: 20px;
	line-height: 1.6;
	font-size: 18px;
	max-width: 580px;
	display: inline-block;
}

@media (min-width: 860px) {
	#home-hero .homeWrapper .container .lead.text-muted {
		font-size: 64px;
	}
}
/* end home-hero */

#home {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 0;
}

#home h1,
#home h2 {
	line-height: 1.2;
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: normal;
	color: var(--dark);
}
#home h1.large,
#home h2.large {
	font-size: 6vw;
}

#home h4 {
	font-size: 24px;
	line-height: 1.2;
	margin-top: 10px;
	margin-bottom: 0;
	color: var(--primary-color);
}

#home p {
	max-width: 580px;
	display: inline-block;
	line-height: 1.6;
	font-size: var(--font-size-p);
}

#home p.big {
	font-size: 18px;
}

#home a {
	font-weight: bold;
}

#home a.with-arrow {
	padding-right: 20px;
	background-size: 10px auto;
	background-position: right center;
	background-repeat: no-repeat;
	background-image: url('data:image/svg+xml,%3Csvg%20fill%3D%22%23FF1865%22%20width%3D%22100pt%22%20height%3D%22100pt%22%20viewBox%3D%220%200%20100%20100%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M32.812%200L17.187%2015.625%2051.562%2050%2017.187%2084.375%2032.812%20100l50-50z%22%2F%3E%3C%2Fsvg%3E');
}

#home .btn-outline-primary {
	color: var(--primary-color);
	border-color: var(--primary-color);
}

.primary-color:hover,
.btn-outline-primary:hover {
	color: var(--primary-color) !important;
	background-color: white;
	border-color: var(--primary-color) !important;
}

#home .icon-wrap {
	margin: 0 auto 20px 0;
}

#home .icon {
	width: 40px;
	height: 40px;
	display: inline-block;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

#home .icon.runtime {
	background-image: url('data:image/svg+xml,%3Csvg%20fill%3D%22%23FF1864%22%20width%3D%22100pt%22%20height%3D%22100pt%22%20viewBox%3D%220%200%20100%20100%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M51.102%2082.461v3.129c10.555-.332%2020.418-5.332%2026.926-13.652%206.508-8.317%208.984-19.098%206.762-29.422-2.223-10.324-8.914-19.13-18.27-24.035-.23-.117-.383-.352-.399-.61-.011-.261.114-.507.328-.652L72.942%2013c.382-.254.882-.254%201.27%200%2010.59%206.934%2017.702%2018.07%2019.538%2030.594s-1.777%2025.234-9.934%2034.918c-8.152%209.684-20.062%2015.406-32.715%2015.727v3.184c.004.5-.27.96-.71%201.195-.442.239-.977.207-1.391-.078l-11.45-7.48c-.378-.246-.605-.668-.605-1.118%200-.453.227-.875.606-1.12L49%2081.34c.41-.266.937-.29%201.367-.055.434.235.703.684.703%201.176zM62.45%208.941l-11.449-7.48c-.414-.286-.95-.317-1.39-.079-.442.235-.715.696-.712%201.196V5.76c-12.652.32-24.562%206.043-32.715%2015.727-8.156%209.684-11.77%2022.395-9.933%2034.918S15.2%2080.066%2025.79%2087c.387.254.887.254%201.27%200l6.488-4.23h.004c.214-.14.34-.39.328-.649-.016-.261-.168-.492-.399-.609-9.347-4.91-16.03-13.715-18.254-24.035-2.219-10.32.258-21.094%206.762-29.414%206.5-8.316%2016.359-13.316%2026.91-13.652v3.129c-.004.5.27.965.71%201.2s.977.206%201.391-.08l11.488-7.48c.38-.246.606-.668.606-1.12%200-.45-.227-.872-.606-1.118zM50.001%2043.679c-2.555%200-4.86%201.54-5.84%203.902-.976%202.36-.437%205.078%201.371%206.887s4.528%202.348%206.887%201.371c2.363-.98%203.902-3.285%203.902-5.84-.004-3.488-2.832-6.316-6.32-6.32zm18.102-14.238l2.46%202.46-.003-.003c1.062%201.078%201.21%202.758.352%204l-2.391%203.41c.926%201.602%201.64%203.317%202.121%205.102l4.102.719h-.004c1.508.261%202.61%201.57%202.613%203.101V51.7c-.004%201.531-1.105%202.84-2.613%203.102l-4.09.718c-.48%201.785-1.191%203.5-2.117%205.102l2.39%203.41c.856%201.242.711%202.922-.351%204l-2.469%202.527c-1.078%201.063-2.758%201.211-4%20.352l-3.41-2.39c-1.602.925-3.317%201.636-5.102%202.12l-.719%204.09c-.261%201.508-1.57%202.61-3.101%202.61h-3.508c-1.531%200-2.84-1.102-3.102-2.61l-.718-4.09c-1.786-.484-3.5-1.195-5.102-2.12l-3.41%202.39c-1.246.86-2.922.71-4-.352l-2.488-2.457c-1.063-1.078-1.211-2.757-.352-4l2.39-3.41c-.925-1.601-1.64-3.316-2.12-5.101l-4.09-.72c-1.508-.26-2.61-1.57-2.61-3.1V48.26c0-1.53%201.102-2.84%202.61-3.101l4.101-.719c.48-1.785%201.192-3.5%202.118-5.102l-2.391-3.41h.004c-.86-1.246-.715-2.922.347-4l2.461-2.46c1.078-1.06%202.754-1.208%204-.348l3.41%202.39c1.602-.925%203.317-1.64%205.102-2.12l.719-4.09c.262-1.508%201.57-2.61%203.098-2.61h3.48c1.531%200%202.84%201.102%203.102%202.61l.718%204.09c1.786.48%203.5%201.195%205.102%202.12l3.41-2.39c1.246-.895%202.957-.762%204.051.32zM62.053%2050c0-4.875-2.938-9.27-7.438-11.133-4.504-1.863-9.688-.836-13.133%202.613-3.45%203.446-4.477%208.63-2.614%2013.133%201.864%204.5%206.258%207.438%2011.133%207.438%206.653-.008%2012.043-5.399%2012.051-12.051z%22%2F%3E%3C%2Fsvg%3E');
}

#home .icon.smart-contract {
	background-image: url('data:image/svg+xml,%3Csvg%20fill%3D%22%23FF1864%22%20width%3D%22100pt%22%20height%3D%22100pt%22%20viewBox%3D%220%200%20100%20100%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M13.688%205.004c-1.535.16-2.695%201.457-2.688%203V72c0%201.656%201.344%203%203%203h29v1c0%201.656%201.344%203%203%203h2.157c.054.125.168.254.218.375l-1.5%201.5c-1.093%201.094-1.171%202.84-.187%204.031l5%206c.543.649%201.332%201.04%202.176%201.074.847.04%201.668-.285%202.261-.886l2.344-2.344c.153.086.367.137.532.219v3.03c0%201.657%201.343%203%203%203h8c1.656%200%203-1.343%203-3v-3.03c.164-.083.378-.133.53-.22l2.345%202.345c.593.601%201.414.925%202.261.886.844-.035%201.633-.425%202.176-1.074l5-6c.984-1.191.906-2.937-.187-4.031l-1.5-1.5c.05-.121.164-.25.218-.375h2.157c1.656%200%203-1.344%203-3v-8c0-1.656-1.344-3-3-3h-2.157c-.054-.129-.164-.281-.218-.406l1.5-1.5c1.093-1.094%201.171-2.84.187-4.032l-5-6c-.543-.648-1.332-1.039-2.176-1.074-.847-.035-1.668.29-2.261.887l-2.344%202.344c-.153-.086-.367-.137-.531-.219v-3c0-1.656-1.344-2.996-3-2.996h-1v-41c0-1.656-1.344-3-3-3H14c-.106-.004-.208-.004-.313%200zm3.313%206h46v38h-1c-.106-.008-.208-.008-.313%200-1.535.16-2.695%201.457-2.688%202.996v3c-.164.082-.378.133-.53.219l-2.345-2.344-.062-.059c1.363-.507%202.168-1.922%201.906-3.355-.262-1.43-1.512-2.469-2.969-2.457H25c-.105-.008-.207-.008-.312%200-1.656.086-2.93%201.496-2.844%203.156.086%201.656%201.5%202.93%203.156%202.84h26.75c-.02.023-.043.043-.062.062L48.407%2057H25c-.106-.004-.207-.004-.313%200-.797.039-1.547.394-2.082.988-.535.59-.812%201.371-.77%202.168.04.797.399%201.547.993%202.082.593.531%201.375.805%202.172.762h21.78l1.594%201.594c-.054.125-.164.277-.218.406H46c-1.656%200-3%201.344-3%203v1H17zm7.687%206c-1.656.086-2.93%201.5-2.844%203.156s1.5%202.93%203.156%202.844h30c.805.012%201.578-.3%202.149-.863.574-.567.894-1.336.894-2.137%200-.805-.32-1.574-.894-2.137-.57-.562-1.344-.875-2.149-.863H25c-.105-.004-.207-.004-.312%200zm0%2010c-.797.039-1.543.394-2.078.988-.535.59-.813%201.371-.77%202.168.04.797.399%201.543.989%202.078.593.532%201.375.809%202.172.766h30c.804.012%201.578-.3%202.148-.863.574-.567.894-1.336.894-2.137%200-.805-.32-1.574-.894-2.137-.57-.566-1.344-.875-2.148-.863H25c-.106-.008-.207-.008-.313%200zm0%2010c-1.656.086-2.93%201.496-2.844%203.156.086%201.656%201.5%202.93%203.156%202.844h30c.805.012%201.578-.3%202.149-.863.574-.567.894-1.336.894-2.137%200-.805-.32-1.574-.894-2.137-.57-.566-1.344-.875-2.149-.863H25c-.105-.008-.207-.008-.312%200zM65%2055h2v2c.004%201.379.945%202.578%202.281%202.906.88.219%201.746.79%203.188%201.656%201.183.7%202.687.508%203.656-.468l1.656-1.657%201.156%201.375-1.062%201.063c-1.024%201.039-1.156%202.656-.313%203.844.442.625.614%201.484%201.781%203.687.524.985%201.543%201.598%202.657%201.594h1v2h-1c-1.114%200-2.133.613-2.657%201.594-1.168%202.203-1.34%203.031-1.78%203.656-.844%201.187-.712%202.809.312%203.844l1.062%201.062-1.156%201.375-1.656-1.656c-.969-.973-2.473-1.168-3.656-.469-1.442.867-2.309%201.438-3.188%201.656C67.933%2084.395%2066.988%2085.61%2067%2087v2h-2v-2c.012-1.39-.934-2.606-2.281-2.938-.88-.218-1.746-.789-3.188-1.656-1.183-.699-2.687-.504-3.656.469l-1.656%201.656-1.156-1.375%201.062-1.062c1.024-1.035%201.156-2.656.313-3.844-.442-.625-.614-1.453-1.781-3.656C52.133%2073.614%2051.114%2073%2050%2073h-1v-2h1c1.114.004%202.133-.61%202.657-1.594%201.168-2.203%201.34-3.062%201.78-3.687.844-1.188.712-2.805-.312-3.844l-1.062-1.063%201.156-1.375%201.656%201.657c.969.976%202.473%201.168%203.656.468%201.442-.867%202.309-1.437%203.188-1.656C64.055%2059.578%2064.996%2058.38%2065%2057zm1%206c-6.04%200-11%204.96-11%2011s4.96%2011%2011%2011%2011-4.961%2011-11-4.96-11-11-11zm0%206c2.797%200%205%202.203%205%205s-2.203%205-5%205-5-2.203-5-5%202.203-5%205-5z%22%2F%3E%3C%2Fsvg%3E');
}

#home .icon.frontend {
	background-image: url('data:image/svg+xml,%3Csvg%20fill%3D%22%23FF1864%22%20width%3D%22100pt%22%20height%3D%22100pt%22%20viewBox%3D%220%200%20100%20100%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M92.312%2022.52c-.281-4.29-3.848-7.715-8.195-7.754-.54%200-1.063-.02-1.602-.02H16.75c-1.125%200-2.227.032-3.32.372-3.516%201.093-5.82%204.367-5.828%208.015-.008%203.293.008%206.594.008%209.883v28c0%20.273-.008.555%200%20.828.097%202.285%201.125%204.54%202.921%205.996%201.524%201.23%203.32%201.942%205.293%201.953.164%200%20.32.02.489.02h24.707V80.36H36.83c-1.414%200-2.844-.008-4.258.02-.02%200-.039.007-.058.007-1.531%200-3%201.328-2.93%202.91.07%201.594%201.29%202.91%202.93%202.91H63.12c1.414%200%202.844.048%204.258.02.02%200%20.039.008.058.008%201.531%200%203-1.367%202.93-2.95-.07-1.593-1.29-2.948-2.93-2.948l-8.55.007v-10.52h22.93c.722%200%201.445-.02%202.18-.02%203.194-.007%206.28-1.804%207.597-4.765.703-1.574.789-3.152.789-4.824V23c0-.168-.02-.324-.07-.48zm-53.23%2026.887c1.164%201.164%201.074%202.977%200%204.14s-3.055%201.086-4.14%200l-1.114-1.113c-2.586-2.586-5.176-5.176-7.773-7.765-1.125-1.125-1.125-3.028%200-4.14.37-.372.742-.743%201.113-1.114%202.586-2.586%205.176-5.176%207.766-7.774%201.164-1.164%202.968-1.074%204.14%200%201.164%201.075%201.086%203.055%200%204.141-.37.371-.75.742-1.125%201.113-1.906%201.906-3.781%203.797-5.695%205.703%202.285%202.266%204.562%204.532%206.828%206.809zm18.047-19.316c-.352%201.086-.71%202.18-1.062%203.262-1.555%204.757-3.106%209.5-4.657%2014.258-.984%203.007-1.964%206.015-2.949%209.023-.508%201.563-1.992%202.414-3.601%202.05-1.493-.343-2.52-2.147-2.051-3.6.351-1.087.71-2.18%201.062-3.262%201.555-4.758%203.106-9.5%204.656-14.258.985-3.008%201.965-6.016%202.95-9.024.507-1.562%201.992-2.414%203.601-2.05%201.492.34%202.531%202.144%202.051%203.601zm16.758%2014.566l-1.113%201.113L65%2053.544c-1.164%201.164-2.976%201.074-4.14%200s-1.086-3.055%200-4.14c.37-.372.742-.743%201.113-1.114%201.895-1.895%203.82-3.79%205.703-5.695-2.273-2.274-4.539-4.551-6.816-6.829-1.164-1.164-1.074-2.976%200-4.14s3.054-1.086%204.14%200l8.887%208.886c1.113%201.13%201.113%203.024%200%204.145z%22%2F%3E%3C%2Fsvg%3E');
}

#home .tagline {
	font-size: 32px;
	color: var(--primary-color);
	font-weight: bold;
}

#home .home-section {
	margin: 40px 0 0 0;
}

#home .intro-blocks {
	margin-bottom: 80px;
}

#home .intro-block {
	margin: 80px auto;
	padding: 0 2rem;
}
#home .intro-block h4 {
	margin-bottom: 10px;
}

#home .builders-strip {
	padding: 40px !important;
	margin-bottom: 60px;
}

#home .builders-strip .cta .bold {
	font-weight: bold;
	display: block;
	line-height: 1;
}

#home .builders-strip .cta a {
	font-weight: normal;
	display: block;
	line-height: 1;
}

#home .builders-strip .col img {
	margin: 20px 0 36px 0;
	max-height: 80px;
	width: auto;
}

#home .what-is-substrate {
	margin-bottom: 0;
}

#home .what-is-substrate .features {
	text-align: left;
}

#home .what-is-substrate .features .col-12 {
	margin-bottom: 80px !important;
}

#home .what-is-substrate .features .d-flex h3 {
	margin-top: 0;
}

#home .call-outs {
	text-align: left;
}

#home .call-outs.first {
	padding-top: 60px;
	padding-bottom: 40px;
}

#home .call-outs.second {
	padding-bottom: 60px;
	margin-bottom: 60px;
}

#home .learn-blocks {
	margin-bottom: 80px;
}

#home .bottom-cta {
	padding-bottom: 20px;
}

#home .polkadot-graphic {
	display: none;
}

@media (min-width: 768px) {
	#home .call-outs.second {
		overflow: hidden;
	}

	#home .polkadot-image {
		display: none;
	}
	#home .polkadot-graphic {
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 120vw;
		height: 120vw;
		max-width: 1320px;
		max-height: 1320px;
		transform: translate3d(-38%, 45%, 0);
		background-repeat: no-repeat;
		background-position: left bottom;
		background-size: contain;
		opacity: 0.9;
	}
}

/* end home */

@media (min-width: 860px) {
	#home h1.large,
	#home h2.large {
		font-size: 54px;
	}
}

@media (min-width: 992px) {
	#home .intro-blocks {
		display: flex;
		justify-content: space-between;
	}
}
